// Settings
// --------

$carousel-transition: 1s !default;


// Module
// ------

@include hf-module('carousel') {
	position: relative;

	.carousel_images {
		margin: 0;
		padding: 0;

		> li {
			list-style: none;
			pointer-events: none;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			background-position: center;
			background-size: cover;
			transition: opacity $carousel-transition;

			@include hf-state('selected') {
				opacity: 1;
				pointer-events: inherit;
			}

			html#{hf-feature('js')} &[data-image]:not(#{hf-state('ready')}) {
				opacity: 0;
			}
		}
	}

	.carousel_buttons {

	}

	.carousel_content {
		position: relative;
		z-index: 1;
	}
}
