// Settings
// --------


// Module
// ------

// TODO Refactor

.storelocator-panel,
.storelocator-map {
	height: em(500px);
}

.storelocator-panel {
	overflow: auto;
	background-color: hf-color('lighter');

	@include hf-until('desk') {
		height: em(350px);
	}

	> ul.store-list {
		margin: 0;
		padding: hf-gutter('xs') 0;

		> li {
			display: block;
			list-style: none;
			padding: hf-gutter('xs') hf-gutter('sm');
			color: hf-color('mid');

			&.store {
				margin: 0;
				transition:
					color $transition,
					background-color $transition;

				&:hover {
					cursor: pointer;
					background-color: hf-color('white');
					color: hf-color('dark');

					.title {
						color: hf-color('primary-light');
					}
				}

				.title {
					color: hf-color('dark');
					transition: color $transition;
				}

				.title,
				.address,
				.phone,
				.web,
				.misc {
					display: block;
				}

				&.highlighted {
					background-color: hf-color('white');
				}

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	@include hf-breakpoint('mobl') {
		height: auto;
		background-color: transparent;

		> ul.store-list {
			padding: 0;

			> li {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.storelocator-filter {

	> .location-search {
		border-bottom: 1px solid hf-color('light');

		@include hf-breakpoint('mobl') {
			margin-bottom: hf-gutter('sm');
		}

		> h4 {
			display: none;
		}

		> input {
			@include hf-field(
				$font-size: em(25px),
				$padding: hf-gutter('sm')
			);

			font-family: hf-font('primary');
			font-weight: hf-font-weight('primary', 'light');
			letter-spacing: 0;
			text-transform: none;
			color: hf-color('dark');
			background-color: hf-color('lighter');
			transition: background-color $transition;

			&::placeholder {
				color: hf-color('light');
			}

			&:focus {
				background-color: hf-color('white');
			}
		}
	}

	> .feature-filter {
		display: none;
	}
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
	background: #ccf;
}

.storelocator-panel .directions {
	display: none;
}

.storelocator-panel .store-list .no-stores {
	color: hf-color('light');
}

.storelocator-panel .store .features {
	display: none;
}

.storelocator-panel .feature-filter {
	overflow: hidden;
}

.storelocator-panel .feature-filter label {
	display: block;
	margin: 0 0.4em;
	float: left;
}


.store .features {
	overflow: hidden;
	color: hf-color('light');
	margin: 0;
	padding: 0;
	max-width: 250px;
}

.store .features li {
	display: inline;
	float: left;
	padding-right: 0.8em;
}

.store .web a {
	color: hf-color('primary')
}

.store .action {
	color: hf-color('primary');
	margin-right: 0.5em;
}

.storelocator-map {

	.action.directions {
		display: none;
	}

	@include hf-until('desk') {
		@include hf-ratiobox(16, 10);

		height: auto;
	}

	@include hf-until('tabl') {
		display: none;
	}
}
