// Utilities
// ---------

%section-h-padding {
	@include hf-responsive((
		'mobl': (padding-left: hf-gutter('sm'), padding-right: hf-gutter('sm')),
		'tabl': (padding-left: hf-gutter('md'), padding-right: hf-gutter('md'))
	));
}

%section-v-padding {
	@include hf-responsive((
		'mobl': (padding-top: hf-gutter('md'), padding-bottom: hf-gutter('md')),
		'tabl': (padding-top: hf-gutter('lg'), padding-bottom: hf-gutter('lg')),
		'desk': (padding-top: hf-gutter('xl'), padding-bottom: hf-gutter('xl'))
	));
}

%section-padding {
	@extend %section-h-padding;
	@extend %section-v-padding;
}


// Module
// ------

@include hf-module('section') {
	@extend %section-padding;

	@include hf-parameter('style-dark') {
		background-color: hf-color('dark');
		color: hf-color('white');

		a {
			color: hf-color('white', 0.5);

			&:hover,
			&:focus {
				color: hf-color('white');
			}
		}
	}
}
