{#
 # Footer layout
 # -------------
 #
 # The footer for the website
 #}

{% import '_macros' as macros %}

<footer id="footer">
	<div class="container -width-fill">

		<ul class="bar -h-gap-sm -h-align-center">
			<li class="item">&copy; {{ now.year }} {{ siteName }}.</li>
			<li class="item">All Rights Reserved.</li>
			<li class="item"><a href="https://github.com/benjamminf" target="_blank">GitHub.</a></li>
			<li class="item"><a href="https://twitter.com/benjfleming" target="_blank">Twitter.</a></li>
		</ul>

	</div>
</footer>
