{#
 # Footer layout
 # -------------
 #
 # The footer for the website
 #}

{% import '_macros' as macros %}

<footer id="footer">
	<div class="container">

		<ul class="bar -h-gap-sm">
			<li class="item">&copy; {{ now.year }} {{ siteName }}.</li>
			<li class="item">All Rights Reserved.</li>
			<li class="item">Website by <a href="//spicyweb.com.au/" target="_blank">Spicy Web</a></li>
		</ul>

	</div>
</footer>
