{#
 # Header layout
 # -------------
 #
 # The header for the website
 #}

{% import '_macros' as macros %}

{% set menu = craft.entries.section('navigation') %}

<header id="header">
	<div class="container -width-fill">
		<div class="header_bar">

			<h1 class="header_logo">
				<a href="{{ siteUrl }}" aria-label="Go home"><strong>benf</strong>.co</a>
			</h1>

			<nav id="menu" class="header_menu" data-model='toggler -> {"state": 0}' data-v-class="is-open: isOpen()">
				<button class="menu_button" aria-hidden="true" tabindex="-1" data-v-on="click: toggle, click: prevent">
					<i class="button_icon"></i>
				</button>
				<ul class="menu_links">
					{% include '_components/menu' with {links: menu} %}
				</ul>
			</nav>

		</div>
	</div>
</header>
