// Settings
// --------

$button-transition: $transition !default;


// Button
// ------

.button {
	@include p1(true);
	@include hf-button(
		$padding: hf-gutter('sm') hf-gutter('md'),
		$border-width: 2px
	);

	border-color: hf-color('mid', 0.75);
	background-color: transparent;
	color: hf-color('mid');
	transition:
		background-color $button-transition,
		color $button-transition;

	&:hover,
	&:focus {
		background-color: hf-color('mid');
		color: hf-color('white');
	}
}
