// Settings
// --------

$play-button-size: 54px !default;
$button-border-radius: $border-radius !default;
$button-transition: $transition !default;


// Button
// ------

.button {
	@include p1(true);
	@include hf-button(
		$padding: hf-gutter('sm') hf-gutter('md'),
		$border-width: 2px
	);

	border-radius: $button-border-radius;
	border-color: hf-color('mid', 0.75);
	background-color: transparent;
	color: hf-color('mid');
	transition:
		border-color $button-transition,
		background-color $button-transition,
		color $button-transition;

	&:hover,
	&:focus {
		background-color: hf-color('mid');
		color: hf-color('white');
	}

	@include hf-parameter('style-white') {
		border-color: transparent;
		background-color: hf-color('white');

		&:hover,
		&:focus {
			background-color: hf-color('dark');
			color: hf-color('light');
		}
	}

	@include hf-parameter('style-hydro') {
		border-color: transparent;
		background-color: hf-color('hydro');
		color: hf-color('white');

		&:hover,
		&:focus {
			background-color: hf-color('dark');
			color: hf-color('white');
		}
	}

	@include hf-parameter('style-craft') {
		border-color: transparent;
		background-color: hf-color('craft');
		color: hf-color('white');

		&:hover,
		&:focus {
			background-color: hf-color('dark');
			color: hf-color('white');
		}
	}
}


// Play button

.play-button {
	position: relative;
	display: inline-block;
	width: $play-button-size;
	height: $play-button-size;
	border: 0;
	border-radius: 50%;
	background-color: hf-color('white', 0.5);
	transition: background-color $button-transition;

	&::before {
		content: '';
		position: absolute;
		top: ($play-button-size / 2) - (15px);
		left: ($play-button-size / 2) - (8px);

		@include hf-triangle(
			$color: hf-color('dark'),
			$direction: right,
			$size: 15px,
			$point-size: 22px
		)
	}

	&:hover,
	&:focus {
		background-color: hf-color('white');
	}
}
