// Settings
// --------

$float-label-transition: $transition !default;


// Styles
// ------

.float-label {
	@include hf-float-label(
		$small-label-font-size: em(14px),
		$padding: hf-gutter('md'),
		$line-height: decimal(26px),
		$label-shift: em(-14px, 14px),
		$field-shift: em(12px),
		$shift-on-focus: true,
		$secondary-label: 'data-label'
	);

	> label {
		@include p1(true);

		color: hf-color('mid');
		transition: opacity $float-label-transition,
		transform $float-label-transition;
	}

	&:before {
		@include h4(true);

		color: hf-color('mid', 0.5);
		opacity: 0;
		transform: translateY(-8px);
		transition:
			color $float-label-transition,
			opacity $float-label-transition,
			transform $float-label-transition;
	}

	> input,
	> select,
	> textarea {
		@include p1(true);

		background-color: hf-color('light');
		color: hf-color('dark');

		&:focus {
			outline: 0;
		}
	}

	> textarea {
		padding-top: hf-gutter('md') * 2;
	}


	@include hf-state('filled', 'focused') {

		> label {
			opacity: 0;
			transform: translateY(8px);
		}

		&:before {
			opacity: 1;
			transform: none;
		}
	}

	@include hf-state('focused') {

		> input,
		> select,
		> textarea {
			outline: 0;
			box-shadow: none;
		}
	}

	@include hf-state('invalid') {

		&:before {
			color: hf-color('danger');
		}
	}

	@include hf-state('scrolled') {

		&:before {
			color: hf-color('mid', 0);
		}
	}
}
