// Styles
// ------

html {
	background-color: hf-color('lighter');
	color: hf-color('dark');
}

#content {
	background-color: hf-color('white');
}

[data-v-cloak] {
	display: none;
}

:focus {
	outline: 0;
	box-shadow: 0 0 6px hf-color('black', 0.25);

	&:hover,
	&:active {
		box-shadow: none;
	}
}
