// Hydro
// -----

$hf-font-size: 18px;

$hf-max-width: 1200px;

$hf-sizes: (
	'sm': 0.5em,
	'md':   1em,
	'lg':   2em
);

$hf-gutters: (
	'sm': 15px,
	'md': 30px,
	'lg': 90px
);

$hf-breakpoints: (
	'mobl':    0px,
	'tabl':  640px,
	'desk': 1080px
);

$hf-colors: (
	'white': #fff,
	'black': #000,

	'dark': #363b41,
	'mid': #848b94,
	'light': #e9ebed,

	'success': #a8d963,
	'info': #62bce9,
	'warning': #e2b23d,
	'danger': #da5a47,

	'hydro': #62bce9,
	'craft': #da5a47
);

$hf-fonts: (
	'primary': ('graphik', sans-serif)
);

$hf-weights: (
	'primary': (
		'light':    300,
		'regular':  400,
		'semibold': 600
	)
);


// Theme
// -----

$border-radius: 3px;
$transition: 0.3s;
