// Hydro
// -----

$hf-font-size: 18px;

$hf-max-width: 1200px;

$hf-sizes: ('md': 1em);

$hf-divisions: (
	3: (3 / 12) * 100%,
	4: (4 / 12) * 100%,
	6: (6 / 12) * 100%,
	8: (8 / 12) * 100%,
	9: (9 / 12) * 100%
);

$hf-gutters: (
	'sm': 15px,
	'md': 30px,
	'lg': 60px,
	'xl': 90px
);

$hf-breakpoints: (
	'mobl':    0px,
	'tabl':  640px,
	'desk': 1080px
);

$hf-grids: 3;

$hf-colors: (
	'white': #fff,
	'black': #000,

	'dark': #363b41,
	'mid': #848b94,
	'light': #e9ebed,

	'success': #a8d963,
	'info': #62bce9,
	'warning': #e2b23d,
	'danger': #da5a47,

	'hydro': #62bce9,
	'craft': #da5a47
);

$hf-fonts: (
	'primary': ('graphik', sans-serif)
);

$hf-weights: (
	'primary': (
		'light':    300,
		'regular':  400,
		'semibold': 600
	)
);

// Disabling

$hf-generate-icon: false;
$hf-generate-clearfix: false;
$hf-generate-text-columns: false;
$hf-generate-shape: false;


// Theme
// -----

$border-radius: 3px;
$transition: 0.25s cubic-bezier(0.75, 0, 0.25, 1);
