{#
 # General page
 # ------------
 #}

{% extends "_layouts/base" %}
{% set pageTitle = entry.title %}

{% block content %}


	{% set body %}
		<div class="+v-trim">
			{% include '_components/body' with {'blocks': entry.body} %}
		</div>
		{% include '_position' with {position: 'content', modules: entry.positionContent} %}
	{% endset %}

	{% include '_position' with {position: 'top', modules: entry.positionTop} %}

	<article class="section">
		<div class="container">
			{{ body }}
		</div>
	</article>

	{% include '_position' with {position: 'bottom', modules: entry.positionBottom} %}


{% endblock %}
