{#
 # Position modules
 # ----------------
 #
 # Loads modules onto the page as a specific position
 # @param (String) position
 # @param (List) modules
 #}

{% import '_macros' as macros %}

{% for module in modules %}
	{% set filename = module.type | replace('/[A-Z]/', '-$0') | replace('module-', '') | lower %}
	<div class="module -type-{{ filename }} -position-{{ position }}">
		{% include '_modules/' ~ filename with {position: position, module: module} %}
	</div>
{% endfor %}
