{#
 # Index
 # -----
 #
 # The home page of the website.
 #}

{% extends "_layouts/base" %}
{% import '_macros' as macros %}

{% block content %}


	<div id="hero" class="section -style-dark">
		<div class="alignbox">
			<div class="box +v-trim">
				{{ entry.body }}
			</div>
		</div>
	</div>


{% endblock %}
