{#
 # Labs
 # ----
 #
 # The labs page of the website.
 #}

{% extends "_layouts/base" %}
{% import '_macros' as macros %}

{% set pageTitle = entry.title %}

{% block content %}


	<div class="section +background-light" itemscope itemtype="http://schema.org/CreativeWork">
		<div class="container">

			<h1 class="+color-dark +t-margin-none +c-text-mobl" itemprop="headline">{{ entry.title }}</h1>

			<ul class="+spacer-md +unlist">
				{% for experiment in craft.entries.section('experiments') %}
					<li itemscope itemtype="http://schema.org/Article">
						{% include '_components/blog-post-card' with {post: experiment} %}
					</li>
				{% endfor %}
			</ul>

			<ul class="bar -h-align-center -h-gap-sm">
				<li><h4><a href="{{ url('feed.rss') }}">RSS</a></h4></li>
				<li><h4><a href="{{ url('feed.atom') }}">Atom</a></h4></li>
			</ul>

		</div>
	</div>


{% endblock %}
