{#
 # Specification Sheet
 # -------------------
 #}

{% extends "_layouts/base" %}
{% set pageTitle = 'Specification Sheet' %}

{% block content %}


	{#
	 # Colour Palette
	 #}

	<div class="section">
		<div class="container +v-trim">

			<p><strong>Color Palette</strong></p>

			<ul class="bar">
				<li class="+background-black +color-white +padding-sm">Black</li>
				<li class="+background-white +color-black +padding-sm">White</li>
				<li class="+background-dark +color-white +padding-sm">Dark</li>
				<li class="+background-mid +color-white +padding-sm">Mid</li>
				<li class="+background-light +color-black +padding-sm">Light</li>
				<li class="+background-success +color-white +padding-sm">Success</li>
				<li class="+background-info +color-white +padding-sm">Info</li>
				<li class="+background-warning +color-white +padding-sm">Warning</li>
				<li class="+background-danger +color-white +padding-sm">Danger</li>
				<li class="+background-hydro +color-white +padding-sm">Hydro</li>
				<li class="+background-craft +color-white +padding-sm">Craft</li>
			</ul>

		</div>
	</div>


	{#
	 # Text Types
	 #}

	<div class="section +t-padding-none">
		<div class="container +v-trim">

			<p><strong>Text Types</strong></p>

			<p class="+b-margin-none +color-light"><strong>H1</strong></p>
			<h1 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h1>

			<p class="+b-margin-none +color-light"><strong>H2</strong></p>
			<h2 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h2>

			<p class="+b-margin-none +color-light"><strong>H3</strong></p>
			<h3 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h3>

			<p class="+b-margin-none +color-light"><strong>H4</strong></p>
			<h4 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h4>

			<p class="+b-margin-none +color-light"><strong>H5</strong></p>
			<h5 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h5>

			<p class="+b-margin-none +color-light"><strong>H6</strong></p>
			<h6 class="+t-margin-none">The quick brown fox jumped over the lazy dog.</h6>

			<p class="+b-margin-none +color-light"><strong>Body</strong></p>
			<p class="+t-margin-none">The quick brown fox jumped over the lazy dog. <a href="#">Read more.</a></p>

		</div>
	</div>


	{#
	 # Buttons
	 #}

	<div class="section +background-light">
		<div class="container +v-trim">

			<p><strong>Buttons</strong></p>

			<ul class="bar -h-gap-sm -v-gap-sm -v-align-center">
				<li><button class="button">Button</button></li>
				<li><button class="button -style-white">White</button></li>
				<li><button class="button -style-hydro">Hydro</button></li>
				<li><button class="button -style-craft">Craft</button></li>
			</ul>

		</div>
	</div>


	{#
	 # Fields
	 #}

	<div class="section">
		<div class="container +v-trim">

			<p><strong>Fields</strong></p>

			<div class="columns -h-gap-sm -v-gap-sm">
				<div class="column -desk-4">
					<input class="field" type="text">
				</div>
				<div class="column -desk-4">
					<div class="float-label" data-label="Float Input">
						<label for="input">Float Input</label>
						<input id="input" type="email" value="john@gmail.com">
					</div>
				</div>
				<div class="column -desk-4">
					<select id="field-service">
						<option selected disabled></option>
						<option>Pool Size & Shape</option>
					</select>
				</div>
				<div class="column">
					<label class="label -radio">
						<input type="radio" name="radio" checked>
						<span>Radio</span>
					</label>
					<label class="label -radio">
						<input type="radio" name="radio">
						<span>Radio</span>
					</label>
					<label class="label -checkbox">
						<input type="checkbox" checked>
						<span>Checkbox</span>
					</label>
					<label class="label -checkbox">
						<input type="checkbox">
						<span>Checkbox</span>
					</label>
				</div>
				<div class="column">
					<textarea rows="5">Textarea</textarea>
				</div>
				<div class="column">
					<div class="float-label" data-label="Float Textarea">
						<label for="textarea">Float Textarea</label>
						<textarea id="textarea" rows="5"></textarea>
					</div>
				</div>
			</div>

		</div>
	</div>


{% endblock %}
